.profile__subtitle {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
    width: 282px;
  }
}
